@import 'reset';

$back-color: #FFF;
$text-color: #FFF;
$board-color: #a0a97f;
$button-color: #838b75;

body {
	background-color: $back-color;
}

.resultsPanel {
	background-color: $board-color;
	margin: 2% 25%;
	padding: 50px;
	min-width: 100px;
}



.playerPanel {
	background-color: $board-color;
	margin: 2% 25%;
	padding: 50px;
	min-width: 100px;
}

button {
	background-color: $button-color;
	padding: 20px;
	margin: 30px 40px;
	font-size: 110%;
	color: $text-color;
	font-weight: bold;
}

.board {
	display: flex;
	background-color: $board-color;
	max-width: 100%;
	margin: 2% 25%;
	min-height: 100px;
	justify-content: center;
	align-items: center;
	color: $back-color;
	font-size: 40px;
}

.info {
	
	text-align: center;
	
}